<div class="container">
  <ul class="nav nav-tabs nav-fill mt-3" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link text-light active" id="projects-tab" data-toggle="tab" href="#projects" role="tab" aria-controls="projects" aria-selected="true">Code Projects</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link text-light" id="graphics-tab" data-toggle="tab" href="#graphics" role="tab" aria-controls="graphics" aria-selected="false">Graphic Design</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active px-auto" id="projects" role="tabpanel" aria-labelledby="projects-tab">
      <div class="card-group col">
        <% @projects.each do |project| %>
          <div class="row">
            <div class="card text-white m-3">
              <div class="card-body bg-info">
                <h4><%= project.title %></h4>
                <%= project.description %>
                  <a href="<%= project.github_url %>">GitHub Repo</a>
              </div>
              <div class="container proj-bg bg-dark text-center">
                <img class="card-img-bottom w-75 m-auto" src="<%= project.image %>" alt="">
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="tab-pane fade" id="graphics" role="tabpanel" aria-labelledby="graphics-tab">
      <div class="card-group py-3">
        <% @graphics.each do |graphic| %>
          <div class="col-sm-4">
            <div class="card text-white bg-secondary mt-3">
              <img src="<%= graphic.image %>" class="card-img-top mx-auto bg-dark" alt="">
              <div class="card-body">
                <h6 class="card-title"><%= graphic.description %></h6>
                <p class="card-subtitle">Completed: <%= graphic.date %>,<br>Work Hours: <%= graphic.work_hours %></p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
  </div>
</div>
